@using Nop.Plugin.Payments.LinePay.Models;
@model Nop.Plugin.Payments.LinePay.Models.ConfirmResponse;
@using Nop.Web.Framework.Models.DataTables
@{
    Layout = "_ConfigurePlugin";
}

@await Component.InvokeAsync("StoreScopeConfiguration")

<form asp-controller="LinePayPlugin" asp-action="Configure" method="post">
    <div class="cards-group">
        <div class="card card-default">
            <div class="card-body">
               
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="returnCode" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="returnCode" />
                        <span asp-validation-for="returnCode"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="returnMessage" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="returnMessage" />
                        <span asp-validation-for="returnMessage"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="info" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="info" />
                        <span asp-validation-for="info"></span>
                    </div>
                </div>

                @*TODO: Currency Setting*@

                <div class="form-group row">
                    <div class="col-md-9 offset-md-3">
                        <button type="submit" name="save" class="btn btn-primary">@T("Admin.Common.Save")</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

